<h3>{{message | uppercase}}</h3> 
<h3>{{message | lowercase}}</h3>
<h3>{{message | titlecase}}</h3>
<h3>{{date | date}}</h3> 
<h3>{{date | date:"longDate"}}</h3>
<h3>{{date | date:"mediumDate"}}</h3>
<h3>{{date | date:"shortDate"}}</h3>
<h3>{{date | date:"dd/mm/yyyy"}}</h3>
<h3>{{date | date:"mm/dd/yyyy"}}</h3>
<h3>Total price is :{{amount | currency}}</h3>
<h3>Total price is :{{amount | currency:"INR"}}</h3>
<h3>Total price is :{{amount | currency}}</h3>
<h3>Total price is :{{amount | number:"2.1-2"}}</h3>