<div class="container">
    <div>
        <label for="id1">Select State</label>
        <select class="form-select" id="id1" [(ngModel)]="stateName" (click)="getCityNames()">
            <option value="">Select</option>
            <option value="1">Maharashtra</option>
            <option value="2">Rajasthan</option>
            <option value="3">Madhyapradesh</option>
           
          </select>
    </div>
    <div>
        <label for="id2">Select District</label>
        <select class="form-select" id="id2">
            <option value="">Select</option>
            <option *ngFor="let item of cityNames" [value]="item">{{item}}</option>
            
          </select>
    </div>
</div>
